
body {
    font-family: sans-serif;
    margin: 0;
    background-color: rgb(1, 54, 73);
}
.top-nav {
    background-color: rgb(1, 54, 73) ;
}
.logo{
    margin-left: 7%;
}

.menu{
    margin-left: 20%;
}
.contact-info{
  
    margin-left: 7%;
    color: #ddd;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin:0%;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}
.popup-image {
 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; 
  width: 50px;
  height: 50px;
  margin-left: 48%;
  margin-bottom: 80%;

  
  animation: popupAnimation 0.5s ease-out forwards;
  
  
  opacity: 0;
}


@keyframes popupAnimation {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
.founder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
   
    background-color: #ddd;
}

.left-column {
    flex: 1;
    text-align: center;
}


.right-column {
    flex: 3;
    
}

.profile-pic {
    max-width: 100%; 
    height: auto;
    display: block;
}



.gov{
     background-color: #ddd;
    border-radius: 20px;

}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #1a0be9;
}

.divider::before {
  margin-right: 25px;
}

.divider::after {
  margin-left: 25px; 
}

.divider span {
 
  padding: 0 10px;
  background-color: #fff;
  color: #fff;
  background-color: #3498db;
  padding: 5px 15px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: bold;
}
.button2:hover {
  background-color: #008CBA;
  color: white;
  border: 2px solid #008CBA;
}
.button {
  background-color: white;
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
